@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --clr-900: #001a23;
    --clr-700: #31493C;
    --clr-500: #7A9E7E;
    --clr-300: #B3EFB2;
    --clr-100: #E8F1F2;
    --highlight-900: #036D19;
    --highlight-500: #679436;
    --highlight-300:#27FB6B;
    --highlight-success: #2fec00;
    --highlight-error: #d30000;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--clr-100);
}

.site-header {
    background-color: var(--clr-900);
    width: 100%;
    padding: 10px;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .logo {
        width: 350px;
    }
}

.main-wrapper {
    width: 100%;
    min-height: 100dvh;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
}

.product__container {
    width: max(65%, min-content);
    height: fit-content;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style-type: none;
}

.product-card {
    width: 13rem;
    height: 20rem;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    transition: box-shadow 200ms;
}

.product-card:hover {
    box-shadow: 0px 2px 10px rgb(124, 124, 124);
}

.product-image__container {
    width: 100%;
    height: 55%;
    display: flex;

    img {
        min-width: 100%;
        object-fit: cover;
    }
}

.category__display {
    z-index: 2;
    position: absolute;
    background-color: var(--highlight-300);
    padding: 3px 10px 3px 15px;
    border-radius: 0 10px 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
    top: .5rem;
    left: -.5rem;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.product-card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background-color: white;

    .product-title {
        margin-block: 4px;
        border-bottom: 1px dashed var(--clr-500);
    }

    .product-price {
        margin-bottom: 4px;
    }

    .product-title, .product-price {
        flex: 1;
        margin-inline: 4px;
    }

    .btn__container {
        display: flex;
    }

    .product__delete{
        font-weight: 500;
        width: max-content;
        border-radius: 10px;
        border-style: none;
        padding: 0.75em 10px;
        line-height: 1;
        font-size: 1rem;
        text-align: center;
        place-self: center;
        margin-bottom: 7px;
        cursor: pointer;
    }

    .product__delete {
        background-color: rgb(224, 84, 84);
    }
    
    .product__delete:hover {
        background-color: darkred;
        color: white;
    }
}

.span__if-category {
    display: none;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--clr-700);
}

.upload-product__container{
    height: min-content;
    position: sticky;
    top: 3rem;
    margin-top: 10px;
}

.upload-product__container::before {
    --_size: 60px;

    content: '\e09a';
    background-color: var(--highlight-900);
    color: white;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    line-height: var(--_size);
    display: inline-block;
    z-index: 3;
    width: var(--_size);
    height: var(--_size);
    border-radius: 100%;
    position: absolute;
    top: calc(var(--_size) / 2 * -1);
    left: 50%;
    transform: translateX(-50%);
}

.upload-product__fieldset{
    width: 20rem;
    height: 60vh;
    overflow: auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid var(--clr-500);
    padding: 40px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    legend {
        color: black;
        font-weight: 900;
        font-size: 25px;
        text-align: center;
        float: left;
    }

    label {
        margin-block: 6px 3px;
        font-size: 1.05rem;
        width: 100%;
    }

    select, input[type=text], input[type=number] {
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid var(--clr-700);
        width: 100%;
    }

    select {
        padding: 3px;
    }

    input[type=text], input[type=number] {
        padding: 3px 3px 3px 7px;
    }

    label[for=if-Ramo], #if-Ramo {
        display: none;
    }

    #image-file {
        display: none;
    }

    label[for=image-file]{
        width: auto;
        cursor: pointer;
        place-self: flex-end;
        margin-right: 0.5rem;
        position: relative;
        bottom: 1.8rem;
    }

    #if-Ramo:not(:placeholder-shown):valid,
    #image:not(:placeholder-shown):valid {
        outline-color: var(--highlight-success);
    }

    #if-Ramo:not(:placeholder-shown):invalid,
    #image:not(:placeholder-shown):invalid {
        outline-color: var(--highlight-error);
    }
}

.upload-product__btn, .clean-form {
    width: max-content;
    padding: 7px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.upload-product__btn {
    background-color: var(--highlight-300);
}

.clean-form {
    background-color: #b3b3b3;
}

footer {
    padding: 1em .5em;
    background-color: var(--highlight-900);
    color: white;
}

@media screen and (max-width: 600px) {
    .main-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .upload-product__container{
        position: relative;
        top: 0;
    }

    .product__container {
        justify-content: space-around;
    }
}
